<div *ngIf="data.parentAnswer == form.get(compare.formControlName)?.value">
  <app-input-type [data]="data" [formGroup]="form"></app-input-type>
  <!-- {{compare.formControlName}} -->
        <!-- <div *ngFor="let item of data.childItems">
          {{item.parentAnswer}}
          <div *ngIf="item.parentAnswer == form.get(item.formControlName)?.value">
            <app-input-type [data]="item" [formGroup]="form"></app-input-type>
          </div>



        </div> -->

</div>

<div *ngIf="data.parentAnswer == ''">
  <app-input-type [data]="data" [formGroup]="form"></app-input-type>
</div>

